.section-header {
  border-top: 2px solid #B80000;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: #FFF;
}

.section-header__sub {
  margin-bottom: 1.25rem;
  color: #696969;
}

a:-webkit-any-link .promo {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.promo {
  overflow: hidden;
  border-bottom: 1px solid rgba(105, 105, 105, 0.25);
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

.promo:hover .promo__title {
  text-decoration: underline;
  cursor: pointer;
}

.promo .promo__meta:hover {
  text-decoration: underline;
  cursor: pointer;
}

.promo:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.promo > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1rem / 2 * -1);
  max-width: 560px;
}

/* Promo images */
.promo > * > * {
  margin: calc(1rem / 2);
  flex-basis: calc(42.25% - 1rem);
  flex-grow: 1;
}

/*Promo labels*/
.nowPlaying {
  padding: 0.175rem;
  background-color: #B80000;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.promo:first-child .nowPlaying {
  display: block;
}

.upNext {
  padding: 0.175rem;
  background-color: #B80000;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.promo:nth-child(2) .upNext {
  display: block;
}

/* Promo text */
.promo > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(33.333% - 1rem);
}

.promo {
  overflow: hidden;
  border-bottom: 1px solid rgba(105, 105, 105, 0.25);
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Promo images */
.promo-landscape > * > * {
  flex-basis: 100%;
  flex-grow: 1;
}

.promo__image {
  /* width: 50%; */
  position: relative;
  align-self: flex-start;
  border-radius: 2px;
  overflow: hidden;
}

.promo-landscape .promo__image {
  margin-bottom: 0.5rem;
}

.promo__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo__title {
  flex-basis: 100%;
}

.promo__meta {
  color: #696969;
  margin-top: 0.75rem;
}

.promo__duration {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  padding: 0.375rem 0.5rem 0.375rem 0.25rem;
}

.promo__image img {
  width: 100%;
}

.video-carousel {
  margin-bottom: 2rem;
  overflow-x: visible;
}
