<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BBC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normaliser.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/typography.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/components.css">

  </head>

  <body>

    <header class="type-headlineLg">NEWS</header>

    <main>

      {{ content }}

    </main>

    <footer></footer>

    <!-- <script type=”text/javascript” charset=”utf-8″ src=”https://cdn3.userzoom.com/uz.js?cuid=XXXX”></script> -->

    <script type="text/javascript">

    /**
     * Stop all iframes or HTML5 <video>'s from playing
     */
    var stopVideos = function () {
    	var videos = document.querySelectorAll('iframe, video');
    	Array.prototype.forEach.call(videos, function (video) {
    		if (video.tagName.toLowerCase() === 'video') {
    			video.pause();
    		} else {
    			var src = video.src;
    			video.src = src;
    		}
    	});
    };

    function hidePlayersAndLabels() {

      var mediaItems = document.querySelectorAll('.media-item'),
      i = 0,
      l = mediaItems.length;

      for (i; i < l; i++) {
        mediaItems[i].style.display = 'none';
      }

      var labels = document.querySelectorAll('.label'),
      index = 0,
      ll = labels.length;

      for (index; index < ll; index++) {
        labels[index].style.display = 'none';
      }

      window.scrollTo(0,0);

    }

      document.querySelectorAll('iframe, video')[0].addEventListener('ended',myHandler,false);
      function myHandler(e) {
      // What you want to do after the event
      console.log("Something has ended");
      }


      function showVideo1() {
        hidePlayersAndLabels();
        stopVideos();
        document.getElementById("p0806z12").style.display = 'block';

        const thisPromo = document.querySelectorAll('.promo')[0];
        const nextPromo = document.querySelectorAll('.promo')[1];

        var nowPlaying = thisPromo.getElementsByClassName('label')[0];
        var upNext = nextPromo.getElementsByClassName('label')[1];

        nowPlaying.style.display = 'block';
        upNext.style.display = 'block';

      };

      function showVideo2() {
        hidePlayersAndLabels();
        stopVideos();
        document.getElementById("p07yxtyt").style.display = 'block';

        const thisPromo = document.querySelectorAll('.promo')[1];
        const nextPromo = document.querySelectorAll('.promo')[2];

        var nowPlaying = thisPromo.getElementsByClassName('label')[0];
        var upNext = nextPromo.getElementsByClassName('label')[1];

        nowPlaying.style.display = 'block';
        upNext.style.display = 'block';

      };

      function showVideo3() {
        hidePlayersAndLabels();
        stopVideos();
        document.getElementById("p074rc6n").style.display = 'block';

        const thisPromo = document.querySelectorAll('.promo')[2];
        const nextPromo = document.querySelectorAll('.promo')[3];

        var nowPlaying = thisPromo.getElementsByClassName('label')[0];
        var upNext = nextPromo.getElementsByClassName('label')[1];

        nowPlaying.style.display = 'block';
        upNext.style.display = 'block';

      };

      function showVideo4() {
        hidePlayersAndLabels();
        stopVideos();
        document.getElementById("p0808hdz").style.display = 'block';

        const thisPromo = document.querySelectorAll('.promo')[3];
        const nextPromo = document.querySelectorAll('.promo')[4];

        var nowPlaying = thisPromo.getElementsByClassName('label')[0];
        var upNext = nextPromo.getElementsByClassName('label')[1];

        nowPlaying.style.display = 'block';
        upNext.style.display = 'block';

      };

    </script>

  </body>

  <!-- <script type="text/javascript" src="{{ site.baseurl }}/scripts/main.js"></script> -->

</html>
